<template>
  <div class="cart-display">
    <div class="cart-display__item" v-for="(cartItem, i) in cartItemList" :key="i">
      <figure class="cart-display__image">
        <img :src="require(`@/assets/images/games/${cartItem.image}`)" alt="">
      </figure>

      <div class="cart-display__info">
        <h4>{{ cartItem.name }}</h4>
        <strong>R$ {{ cartItem.price }}</strong>
      </div>

      <button class="cart-display__remove animate" @click="removeItem(cartItem)">X</button>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters(['cartItemList']),
    },
    methods: {
      ...mapActions(['updateCart', 'removeItemInCart']),
      removeItem(vm) {
        this.removeItemInCart({
          item: vm
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/stylesheets/components/cart/display";
</style>
