<template>
  <div class="cart-calculator">
    <div class="cart-calculator__item">
      <h4>Sub total</h4>
      <strong class="small">{{ calcSubtotal | currency }}</strong>
    </div>

    <div class="cart-calculator__item">
      <h4>Frete:</h4>

      <strong class="small">{{ calcFreight | currency }}</strong>
    </div>

    <div class="cart-calculator__item">
      <h4>Total:</h4>
      <strong class="large">{{ calcTotal | currency}}</strong>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    data () {
      return {
        subtotal: 0,
        freight: 10,
        total: 0
      }
    },
    computed: {
      ...mapGetters(['cartItemList']),
      calcSubtotal(){
        let subTotal = this.subtotal

        this.cartItemList.forEach(function(calc){
          subTotal += calc.price
        })

        return subTotal
      },
      calcFreight(){
        let newFreight = this.freight

        if(this.calcSubtotal < 250){
          newFreight = this.freight
        } else {
          newFreight = 0
        }

        return newFreight
      },
      calcTotal(){
        return this.calcSubtotal + this.calcFreight
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/stylesheets/components/cart/calculator";
</style>
