<template>
  <section class="cart">
    <div class="cart__empty-cart" v-show="!cartItemList.length">
      <img src="@/assets/images/icons/cart.svg" alt="Até o momento, o seu carrinho está vazio">
      <p>Até o momento, o seu carrinho está vazio</p>
    </div>

    <div v-show="cartItemList.length">
      <CartDisplay />
      <CartCalculator />

      <button class="cart-submit animate" @click="checkout">Finalizar Compra</button>
    </div>
  </section>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import CartDisplay from './CartDisplay'
  import CartCalculator from './CartCalculator'

  export default {
    name: 'cart',
    components: {
      CartDisplay,
      CartCalculator
    },
    data () {
      return {
        loading: true
      }
    },
    computed: {
      ...mapGetters(['cartItemList']),
    },
    methods: {
      ...mapActions(['addMessage', 'clearCart']),
      checkout() {
        if(!this.cartItemList || this.cartItemList.length == 0){
          this.addMessage({
            messageClass: 'warning',
            message: 'Seu carrinho está vazio!'
          });

          return;
        }

        this.addMessage({
          messageClass: 'success',
          message: 'Seu carrinho de compras foi salvo com sucesso!'
        });

        this.clearCart();
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/stylesheets/components/cart/index";
</style>
