<template>
  <button class="cart-mobile">
    <div v-show="!cartItemList.length">Carrinho Vazio</div>
    <div v-show="cartItemList.length">
      Carrinho{{ itensCalculator }}
    </div>
  </button>
</template>

<script>
  import { mapGetters } from 'vuex';
  export default {
    computed: {
      ...mapGetters(['cartItemList', 'itensCalculator'])
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/stylesheets/components/cart/mobile";
</style>
