.app{
  margin-bottom: 50px;

  @include screen-small{
    margin-bottom: 30px;
  }
}

.wrapper{
  padding: 0 50px;

  @include screen-medium{
    padding: 0 30px;
  }
}

.content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px;

  @include screen-extra-large{
    max-width: #{$screen-xl-min};
    margin: 0 auto;
  }

  @include screen-large{
    grid-template-columns: 3fr;
  }

  @include screen-medium{
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
}

.products-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;


  @include screen-medium{
    grid-template-columns: repeat(2, 1fr);
  }

  @include screen-small{
    grid-template-columns: 1fr;
  }
}
