.button{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  visibility: hidden;
  opacity: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:hover{
    background: darken($color-ice-dark, 5%);
  }
}

.cart-submit{
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 3px;
  border: none;
  background-color: $color-blue;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: $color-white;

  &:hover{
    background-color: darken($color-blue-dark, 10%);
  }
}

.close-flash-message{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: $color-white;
}
