*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  font-family: $font-regular, monospace;
  font-size: 100%;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-regular;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

a{
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto !important;
}

select{
  max-width: 200px;
}

.animate{
  transition: all .1s ease-in-out;
}
