// Small devices
@mixin screen-small {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin screen-medium {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin screen-large {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin screen-extra-large {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
