// Vars
$color-white: #fff;
$color-ice: #e1e1e1;
$color-ice-dark: #eee;
$color-grey: #423b3b;
$color-grey-light: #746a6a;
$color-grey-dark: #363636;
$color-blue: #3486e6;
$color-blue-dark: #3487dc;
$color-black: #000;

$color-danger: #d9534f;
$color-success: #5cb85c;
$color-warning: #f0ad4e;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1281px;

$font-regular: "Open Sans";
