<template>
  <div>
    <header class="header">
      <h1 class="logo">Games</h1>

      <div class="header__responsive">
        <select class="filter" v-model="filterProducts" @change="onChange">
          <option value="score">Mais Populares</option>
          <option value="name">Nome</option>
          <option value="price">Preço</option>
        </select>

        <CartMobile />
      </div>
    </header>

    <section class="products-list">
      <Product v-for="(product, i) in sortArrays(products)" :item="product" :key="i" />
    </section>
  </div>
</template>

<script>
  import _ from 'lodash'
  import { mapActions, mapGetters } from 'vuex'

  import Product from '../components/Product'
  import CartMobile from '../components/Cart/Mobile'

  export default {
    name: 'home',
    data () {
      return {
        filterProducts: 'score'
      }
    },
    components: {
      CartMobile,
      Product
    },
    computed: {
      ...mapGetters(['products']),
    },
    methods: {
      ...mapActions(['updateList']),
      sortArrays() {
        return _.orderBy(this.products, this.filterProducts, 'asc');
      },
      onChange(){
        this.arrays = _.orderBy(this.products, String(this.filterProducts), 'asc')
      }
    }
  }
</script>

<style lang="scss">
  @import "../assets/stylesheets/components/header";
</style>
