<template>
  <div :class="messageClass">
    <div class="flash-message__text" v-html="currentMessage"></div>

    <button class="close-flash-message" @click="closeMessageBar">X</button>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters(['messages']),
      showMessageBar() {
        return this.messages.message && this.messages.message.length > 0;
      },
      messageClass() {
        let mgClass = this.messages.messageClass;
        return `flash-message fixed animate ${mgClass} ${(this.showMessageBar ? "" : "hidden")}`;
      },
      currentMessage() {
        return this.messages.message;
      }
    },
    methods: {
      ...mapActions(['clearMessage']),
      closeMessageBar() {
        this.clearMessage();
      }
    }
  }
</script>

<style lang="scss">
  @import "../assets/stylesheets/components/flash-messages";
</style>
