<template>
  <div class="product">
    <figure class="product__image">
      <img :src="require(`@/assets/images/games/${item.image}`)" alt="">
    </figure>

    <div class="product__info">
      <div class="animate">
        <h3>{{ item.name }}</h3>
        <strong>R$ {{ item.price }}</strong>
      </div>

      <button class='button animate add-to-card' @click="addItem">Adicionar ao carrinho</button>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    props: ['item'],
    methods: {
      ...mapActions(['updateCart']),
      addItem() {
        const order = {
          item: Object.assign({}, this.item),
          quantity: 1,
          isAdd: true
        };

        this.updateCart(order);
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/stylesheets/components/product";
</style>
