<template>
  <aside class="sidebar">
    <div class="sidebar__title">
      <h2>Carrinho</h2>
      <small>{{ itensCalculator }}</small>
    </div>

    <Cart />
  </aside>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Cart from './Cart/Index'

  export default {
    computed: {
      ...mapGetters(['itensCalculator'])
    },
    components: {
      Cart
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/stylesheets/components/sidebar";
</style>
