@import "../../config/variables";
@import "../../config/carts";

.cart-calculator{
  &__item{
    h4{
      font-size: 14px;
      font-weight: 400;
      color: $color-grey-light;
    }

    strong{
      text-align: right;
      font-weight: 600;
      color: $color-grey;

      &.small{ font-style: 14px; }
      &.medium{ font-size: 18px; }
      &.large{ font-size: 20px; }
    }
  }
}
