@import "../../config/variables";
@import "../../config/carts";

.cart-display{
  margin-bottom: 40px;

  &__item{
    position: relative;

    &:hover{
      .cart-display__remove{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__image{
    width: 60px;
    height: 55px;
    background: $color-ice-dark;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 60px;
      max-height: 40px;
    }
  }

  &__info{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 0px;
    align-items: center;
    font-size: 14px;

    h4,
    strong{
      height: auto;
    }

    h4{
      height: auto;
      line-height: 19px;
      font-weight: 400;
      color: $color-grey-light;
    }

    strong{
      font-weight: 600;
      color: $color-grey;
    }
  }

  &__remove{
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
    border: none;
    border-radius: 100%;
    background-color: $color-blue;
    font-size: 10px;
    font-weight: 600;
    color: $color-white;
    cursor: pointer;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
}
