@import "../../config/variables";

.cart{
  &__empty-cart{
    padding: 30px 0 20px 0;
    text-align: center;

    img{
      margin-bottom: 20px;
      display: inline-block;
    }

    p{
      font-size: 14px;
      font-weight: 200;
      color: $color-grey-light;
    }
  }
}
