@import "../../config/variables";
@import "../../config/mixins";

.cart-mobile{
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  align-items: center;
  border: solid 1px $color-ice;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 200;
  color: $color-grey-light;
  display: none;

  @include screen-large{
    display: flex;
  }
}
