@import "../config/variables";

.flash-message {
  min-height: 50px;
  padding: 0 20px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text{
    strong{
      font-weight: 600;
    }
  }

  &.fixed{
    top: 0;
    left: 50px;
    right: 50px;
    position: fixed;
    z-index: 9999;
  }

  & .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-white;
  }

  &.hidden{
    visibility: hidden;
    opacity: 0;
  }

  &.danger {
    background-color: $color-danger;
    color: $color-white;

    strong{
      color: lighten($color-danger, 35%);
    }
  }

  &.success {
    background-color: $color-success;
    color: $color-white;

    strong{
      color: lighten($color-success, 35%);
    }
  }

  &.warning {
    background-color: $color-warning;
    color: $color-white;

    strong{
      color: lighten($color-warning, 35%);
    }
  }
}
