@import "../config/variables";
@import "../config/mixins";

.header{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__responsive{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo{
  font-size: 48px;
  font-weight: 600;
  color: $color-grey-dark;

  @include screen-small{
    font-size: 28px;
  }
}

.filter{
  width: 260px;
  height: 40px;
  border: solid 1px $color-ice;
  font-size: 14px;
  font-weight: 400;

  @include screen-small{
    display: none;
  }
}
