@import "../config/variables";

.product{
  background: $color-ice-dark;
  text-align: center;
  padding-bottom: 60px;
  position: relative;
  cursor: pointer;

  &__image{
    border-radius: 3px;
    padding: 20px;

    img{
      max-width: 180px;
      max-height: 180px;
      transition: all .1s ease-in-out;
    }
  }

  &__info{
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    position: absolute;

    div,
    .button{
      position: absolute;
    }

    h3{
      margin-bottom: 10px;
      display: block;
      color: $color-grey-light;
    }

    .button,
    strong{
      color: $color-blue;
    }
  }

  &:active,
  &:hover{
    & > .product__info div{
      visibility: hidden;
      opacity: 0;
    }

    & > .product__image img{
      transform: scale(1.1);
    }

    .button{
      visibility: visible;
      opacity: 1;
    }
  }
}
