@import "../config/variables";
@import "../config/mixins";

.sidebar{
  height: min-content;
  margin-top: 55px;
  padding: 20px;
  display: block;
  border: solid 1px $color-ice;
  border-radius: 5px;

  @include screen-large{
    display: none;
  }

  &__title{
    margin-bottom: 20px;

    h2, small{
      display: inline-block;
    }

    h2{
      font-size: 18px;
      font-weight: 600;
    }

    small{
      margin-left: 5px;
      font-size: 14px;
      font-size: 200;
      color: $color-grey-light;
    }
  }
}
