<template>
  <div class="app wrapper">
    <FlashMessages />

    <div class="content">
      <main class="main">
        <router-view />
      </main>

      <AppSidebar />
    </div>
  </div>
</template>

<script>
  import FlashMessages from './components/FlashMessages';
  import AppSidebar from './components/Sidebar'

  export default {
    components: {
      FlashMessages,
      AppSidebar
    }
  }
</script>
